<div class="main-toolbar mat-elevation-z2">
  <div fxLayout="row" fxLayoutAlign="start center" fxHide="false" fxHide.gt-sm>
    <button (click)="sidenav.open()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="500px" fxHide fxShow.gt-md>
    <ms-search-bar></ms-search-bar>
  </div>

  <ms-breadcrumbs *ngIf="showBreadcrumbs" [fxHide]="true" [fxHide.gt-sm]="false"></ms-breadcrumbs>

  <span fxFlex></span>

 


  <div class="">
    
  </div>

  <div class="user-button-container">
    <ms-toolbar-user-button></ms-toolbar-user-button>
  </div>

  
</div>
