<mat-card-content fxLayout="column">
  <div class="example-container">

  
  <h3 matLine>Logotipo</h3>
  
    <img width="400px" [src]="url + item.logotipo" onerror="this.src='assets/img/common/no-image.gif'">
    <label style="width:400px"  class="mat-raised-button" for="filesLogo">Cambiar Imagen..</label>
    <input id="files" style="visibility:hidden;" type="fileLogo" (change)="uploadLogo($event)" accept="image/*">
  
    <h3 matLine>Galería</h3>

    <hr>
    <table >
      
        <tr>
          <th>
              <img width="100%" [src]="url + item.galeria[0]" onerror="this.src='assets/img/common/no-image.gif'">
              <label  style="width:100%" width="100%" class="mat-raised-button" for="filesGal1">Cambiar Imagen..</label>
              <input id="files" style="visibility:hidden;" type="fileLogo" (change)="uploadLogo($event)" accept="image/*">
          </th>
          <th>
              <img width="100%" [src]="url + item.galeria[1]" onerror="this.src='assets/img/common/no-image.gif'">
              <label  style="width:100%" width="100%" class="mat-raised-button" for="filesGal1">Cambiar Imagen..</label>
              <input id="files" style="visibility:hidden;" type="fileLogo" (change)="uploadLogo($event)" accept="image/*">
          </th>
          <th>
              <img width="100%" [src]="url + item.galeria[2]" onerror="this.src='assets/img/common/no-image.gif'">
              <label  style="width:100%" width="100%" class="mat-raised-button" for="filesGal1">Cambiar Imagen..</label>
              <input id="files" style="visibility:hidden;" type="fileLogo" (change)="uploadLogo($event)" accept="image/*">
          </th>
        </tr>
      </table>
  
</div>
</mat-card-content>