
  <div fxLayout="row" fxLayoutAlign="center center" style="margin: 0px 0;">
    <mat-card fxFlex="90%" style="padding-bottom: 0px; padding-top: 4px">
      <mat-form-field class="search" floatingPlaceholder="false" [class.search-open]="true">
        <input #input matInput placeholder="Buscar..." (keyup)="search($event)">
      </mat-form-field>
    </mat-card>
  </div>

<br>
<br>

<div fxLayout="column" fxLayout.gt-md="row">
  
  <div fxFlex class="mat-elevation-z2">
    <table class="table" [class.table-hover]="true" [class.table-striped]="true" [class.table-condensed]="true" [class.table-bordered]="true">
      <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Fin Subscripción</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows | search : searchTerm">
        <td class="avatar-cell"><img class="avatar" [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Mcdonald%27s_logo.svg/220px-Mcdonald%27s_logo.svg.png'"></td>
        
        <td>{{ row.nombre }} </td>
        <td>{{ row.tipo_suscripcion }}</td>
        <td>{{ row.fecha_fin_suscripcion | date:'dd/MM/yyyy'}}</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>


<button mat-fab color="primary" class="btn-floating" (click)="openNew()">Nuevo</button>
