
  <div fxLayout="row" fxLayoutAlign="center center" style="margin: 0px 0;">
    <mat-card fxFlex="90%" style="padding-bottom: 0px; padding-top: 4px">
      <mat-form-field class="search" floatingPlaceholder="false" [class.search-open]="true">
        <input #input matInput placeholder="Buscar..." (keyup)="search($event)">
      </mat-form-field>
    </mat-card>
  </div>

  <hr>


<div fxLayout="column" fxLayout.gt-md="row">
  
  <div fxFlex class="mat-elevation-z2">

  {{host}}
    {{rows | json}}
    <table class="table" [class.table-hover]="tableHover" [class.table-striped]="tableStriped" [class.table-condensed]="tableCondensed" [class.table-bordered]="tableBordered">
      <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Fin Subscripción</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows | search : searchTerm">
        <td class="avatar-cell"><img class="avatar" [src]="host + '/' +row.url_logo"></td>
        
        <td>{{ row.nombre }} </td>
        <td>{{ row.nombre }}</td>
        <td>{{ row.nombre }}</td>
      </tr>
      </tbody>
    </table>

  </div>

</div>


<button mat-fab color="primary" class="btn-floating" (click)="openNew()">Nuevo</button>
