<div fxLayout="column" fxLayout.gt-md="row">

  <mat-card fxFlex.gt-md="300px" style="margin-right: 16px;">
    <mat-card-title>Local</mat-card-title>
    <mat-card-content fxLayout="column">
      <form [formGroup]="camionForm">
        <div class="example-container">
          <mat-form-field>
            <input name="identificador" formControlName="identificador" matInput placeholder="Identificador" required>
          </mat-form-field>

          <mat-form-field>
            <input name="marca" formControlName="marca" matInput placeholder="Marca" required>
          </mat-form-field>

          <mat-form-field>
            <input name="modelo" formControlName="modelo" matInput placeholder="Modelo" required>
          </mat-form-field>

          <mat-form-field>
            <input name="placas" formControlName="placas" matInput placeholder="Placas" required>
          </mat-form-field>

          <mat-form-field>
            <input name="ano" formControlName="ano" matInput placeholder="Año" required>
          </mat-form-field>


          <img width="100%" [src]="camionForm.value.img" onerror="this.src='assets/img/common/no-image.gif'">
          <mat-progress-bar mode="determinate" [value]="currentUpload?.progress"
                            *ngIf="isUploadingPhoto"></mat-progress-bar>


          <label class="mat-raised-button" for="files">Cambiar Imagen..</label>
          <input id="files" style="visibility:hidden;" type="file" (change)="detectFiles($event)" accept="image/*">

          <hr>


          <button mat-raised-button color="primary" *ngIf="isNew"
                  (click)="addItem(camionForm.value)" [disabled]="!camionForm.valid || isUploadingPhoto">Guardar
          </button>
          <button mat-raised-button color="accent" *ngIf="!isNew"
                  (click)="updateItem(camionForm.value)" [disabled]="!camionForm.valid || isUploadingPhoto">Actualizar
          </button>
        </div>
      </form>


    </mat-card-content>
  </mat-card>

  <div fxFlex class="mat-elevation-z2">

    <table class="table table-hover table-striped table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>Identificador</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Placas</th>
        <th>Año</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows" (click)="selectRow(row)">
        <td class="avatar-cell">
          <img class="avatar" [src]="row.img" onerror="this.src='assets/img/common/no-image.gif'">
        </td>
        <td>{{ row.identificador }}</td>
        <td>{{ row.marca }}</td>
        <td>{{ row.modelo }}</td>
        <td>{{ row.placas }}</td>
        <td>{{ row.ano }}</td>
        <td>
          <button mat-raised-button color="warn" (click)="deleteItem(row.key)">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<button mat-fab color="primary" class="btn-floating" (click)="newItem()">Nuevo</button>
