<div class="dashboard-container" fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap">
    <ms-bar-chart class="margin-bottom-sm"
                  widgetTitle="Ingresos en el último año"
                  subTitle="Enero 2018 / Diciembre 2019"
                  bgColor="linear-gradient(60deg, #8C99E0, #6572B8)"
                  textColor="#FFFFFF"
                  chartColor="#FFFFFF"
                  gain="16.3"
                  comparedTo="% compared to last month"
                  [data]="discreteBarDemoData"
                  fxFlex="100%"
                  fxFlex.md="49.5%"
                  fxFlex.sm="100%"
                  fxFlex.gt-md>
    </ms-bar-chart>
    <ms-line-chart class="margin-bottom-sm"
                   widgetTitle="Locales agregados por Mes"
                   bgColor="linear-gradient(60deg, #4DD0E2, #4CA8BA)"
                   textColor="#FFFFFF"
                   chartColor="#FFFFFF"
                   gain="42.5"
                   comparedTo=""
                   [data]="lineChartDemoData"
                   fxFlex="100%"
                   fxFlex.md="49.5%"
                   fxFlex.sm="100%"
                   fxFlex.gt-md
                   fxFlexOffset.gt-sm="1%">
    </ms-line-chart>
    <ms-line-chart class="margin-top-md"
                   widgetTitle="Eventos realizados por mes"
                   subTitle="Latest 10 May, 10:00"
                   bgColor="linear-gradient(60deg, #81C683, #62A864)"
                   textColor="#FFFFFF"
                   chartColor="#FFFFFF"
                   interpolate="true"
                   gain="-6.1"
                   comparedTo="% compared to last month"
                   [data]="lineChartInterpolatedDemoData"
                   fxFlex="100%"
                   fxFlex.sm="100%"
                   fxFlex.gt-md
                   fxFlexOffset.gt-md="1%">
    </ms-line-chart>
  </div>

  <div class="margin-top" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutWrap="wrap">
    <div class="margin-bottom-sm" fxLayout="column" fxFlex="100%" fxFlex.md="49.5%" fxFlex.gt-md>
      <ms-traffic-sources [chartData]="trafficSourcesDemoData"
                          [title]="'Productividad Por Chofer'">

      </ms-traffic-sources>
    </div>

    <div class="margin-bottom-sm" fxLayout="column" fxFlex.gt-md fxFlex="100%" fxFlex.md="49.5%"
         fxFlexOffset.gt-sm="1%">
      <ms-pie-chart [data]="pieChartDemoData" widgetTitle="Viajes" subTitle="% de viajes por conductor"
                    textColor="#757575">
      </ms-pie-chart>
    </div>

    <div class="margin-top-md" fxLayout="column" fxFlex.gt-md fxFlex="100%" fxFlex.sm="100%" fxFlexOffset.gt-md="1%">
      <ms-recent-sales [sales]="recentSalesProductsDemoData" [chartData]="recentSalesDemoData">
      </ms-recent-sales>
    </div>

  </div>

</div>
