<br><br>

<div fxLayout="column" fxLayout.gt-md="row" >
    <mat-input-container fxFlex>
            <input matInput
                [(ngModel)]='titulo'
                placeholder="Título">
        </mat-input-container>
        <mat-slide-toggle  [(ngModel)]="tipo">
            Lista / Descripción
        </mat-slide-toggle>
</div>

<div fxLayout="column" fxLayout.gt-md="row" *ngIf="tipo" >
    <mat-form-field class="input-container">
        <input matInput #message maxlength="100" placeholder="Descripción" [(ngModel)]='descripcion'>
        <mat-hint align="start"><strong>Describa las características de su negocio</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
    </mat-form-field>
</div>

<div fxLayout="column" fxLayout.gt-md="row" *ngIf="!tipo" >
    <p>
        <tag-input 
            [(ngModel)]='caracteristicas'
            placeholder="Nueva característica"
            [modelAsStrings]="true"
            [secondaryPlaceholder]="'Lista de características'">
        </tag-input>
    </p>
    
</div>
       

<div fxLayout="column" fxLayout.gt-md="row" >
    <button mat-button (click)="addElement()">Agregar</button>
</div>

<mat-divider></mat-divider>

<mat-list class="list mat-elevation-z1" *ngIf="!mostrar">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</mat-list>

<mat-list class="list mat-elevation-z1" *ngIf="mostrar" center>
    <div *ngFor="let entry of item.descripcion_completa | keys">
        <mat-list-item *ngIf="entry.value.tipo == 'lista'">
            <button mat-button color="primary"(click)="selectItem(item.descripcion_completa[entry.key])">Actualizar</button>
            <button mat-button color="warn" (click)="deleteItem(item.descripcion_completa[entry.key])">Eliminar</button>
            <h3 matLine>{{entry.value.titulo}}</h3>
              <p matLine *ngFor="let item of entry.value.contenido">
                  <span class="subline">{{item}}</span>
              </p>
          </mat-list-item>
    </div>
   
    <mat-divider></mat-divider>
    <div *ngFor="let entry of (item.descripcion_completa | keys)">
        <mat-list-item *ngIf="entry.value.tipo == 'texto'">
                <button mat-button color="primary"(click)="selectItem(item.descripcion_completa[entry.key])">Actualizar</button>
                <button mat-button color="warn" (click)="deleteItem(item.descripcion_completa[entry.key])">Eliminar</button>                
                    <h3 matLine>{{entry.value.titulo}}</h3>
                    <p matLine class="subline tab-content ng-star-inserted">
                        {{entry.value.contenido}}
                    </p>                
          </mat-list-item>
    </div>
  </mat-list>


