<br><br>
<div fxLayout="column" fxLayout.gt-md="row" >
    <mat-input-container fxFlex>
            <input matInput
                placeholder="Título">
        </mat-input-container>
        <mat-slide-toggle  [(ngModel)]="tipo">
            Lista / Descripción
        </mat-slide-toggle>
</div>

<div fxLayout="column" fxLayout.gt-md="row" *ngIf="tipo" >
    <mat-form-field class="input-container">
        <input matInput #message maxlength="100" placeholder="Descripción">
        <mat-hint align="start"><strong>Describa las características de su negocio</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
    </mat-form-field>
</div>

<div fxLayout="column" fxLayout.gt-md="row" *ngIf="!tipo" >
    <p>
            <tag-input 
            [(ngModel)]='caracteristicas' 
            placeholder="Nueva característica"
            [maxItems]="7"
            [secondaryPlaceholder]="'Lista de características'">
        </tag-input>
    </p>
    
</div>
       

<div fxLayout="column" fxLayout.gt-md="row" >
    <button mat-button>Agregar</button>
</div>

<mat-divider></mat-divider>

<mat-list class="list mat-elevation-z1">
    <h3 mat-subheader>Lista</h3>
    <mat-list-item>
        <h3 matLine>Productos</h3>
          <p matLine>
              <span class="subline">Hamburguesas</span>
          </p>
          <p matLine>
              <span class="subline">Pizza</span>
          </p>
      </mat-list-item>
    <mat-list-item>
      <h3 matLine>Teléfono</h3>
        <p matLine>
            <span class="subline">4949428610</span>
        </p>
        <p matLine>
            <span class="subline">4949428611</span>
        </p>
    </mat-list-item>
    
    <mat-divider></mat-divider>
    <h3 mat-subheader>Descripción</h3>
    <mat-list-item>
      <h3 matLine>Descripción</h3>
      <p matLine class="subline tab-content ng-star-inserted">
        McDonald's es una cadena de restaurantes de rápida. Sus principales productos son las hamburguesas, papas fritas, los menús para el desayuno, los refrescos, batidos, los helados, los postres y, recientemente, ensaladas de fruta y otros productos exclusivos para países
      </p>
    </mat-list-item>
  </mat-list>


