<form [formGroup]="form">
    <mat-form-field class="input-container">
      <input matInput placeholder="Nombre Negocio" [(ngModel)]="item.nombre"  formControlName="nombre" required>
    </mat-form-field>

    <mat-form-field class="input-container">
        <mat-select placeholder="Categoría" [(ngModel)]="item.categoria_negocio_id" formControlName="categoria_negocio_id" required>
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{ categoria.categoria }}
            </mat-option>
          </mat-select>
    </mat-form-field>  

    <mat-form-field class="input-container">
      <input matInput placeholder="Sitio Web" [(ngModel)]="item.sitio_web" formControlName="sitio_web">
    </mat-form-field>

    <mat-form-field class="input-container">
      <input matInput placeholder="Facebook" [(ngModel)]="item.facebook" formControlName="facebook">
    </mat-form-field>

    <tag-input
      formControlName="palabras_clave"
      [(ngModel)]='item.palabras_clave'
     [modelAsStrings]="true"
      [placeholder]="'Nueva tag'"
      [secondaryPlaceholder]="'Tags relacionadas'">
    </tag-input>

    <mat-form-field class="input-container">
        <input matInput #message maxlength="100" 
        placeholder="Descripción Breve" 
        [value]="item.descripcion_breve"  
        [(ngModel)]="item.descripcion_breve" 
        formControlName="descripcion_breve"
        required>
        <mat-hint align="start"><strong>Describa las características de su negocio</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
    </mat-form-field>
  </form>
