<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
  <div class="register mat-elevation-z12">
    <div class="register-header" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/img/logo.png" height="70px">
    </div>
    <form #form="ngForm" (ngSubmit)="register()">
      <div class="register-content" fxLayout="column" fxLayoutAlign="start stretch">
        <mat-form-field>
          <input matInput placeholder="Nombre Completo" type="text" name="name" required [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Sexo" required>
            <mat-option [value]="H">Hombre</mat-option>
            <mat-option [value]="M">Mujer</mat-option>
           </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="E-Mail" type="text" name="email" required [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" name="password" required [(ngModel)]="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password (Confirmar)" type="password" name="password-confirm" required [(ngModel)]="passwordConfirm">
        </mat-form-field>
       
        <button color="primary" mat-raised-button [disabled]="!form.valid">Crear Cuenta</button>
        <p class="note">Tienes una cuenta?<br/> <a [routerLink]="['/login']">Login</a></p>
      </div>
    </form>
  </div>
</div>
